* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 300px;
  border-radius: 18px;
  padding: 15px;
}

.container {
  background-color: hsl(0 0% 100%);
  text-align: center;
  margin: 100px 300px;
  width: 350px;
  border-radius: 20px;
}
body {
  background-color: hsl(212 45% 89%);
  box-sizing: border-box;
  margin: 0px;
  max-width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
h1 {
  white-space: wrap;
  font-family: "Outfit", sans-serif;
  color: hsl(218 44% 22%);
  padding: 0px 15px;
}
p {
  white-space: wrap;
  font-family: "outfit", sans-serif;
  color: hsl(212 45% 89%);
  padding: 0px 15px 20px;
}
